## Preprocessing

In [83]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [84]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [85]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN","NAME"])

In [86]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [87]:
# Look at APPLICATION_TYPE value counts for binning
counts=application_df["APPLICATION_TYPE"].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [88]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [89]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [90]:
# Look at CLASSIFICATION value counts for binning
classification_binning=application_df["CLASSIFICATION"].value_counts()
classification_binning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [91]:
# You may find it helpful to look at CLASSIFICATION value counts >1
cb1=classification_binning[classification_binning>1]
cb1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [92]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (classification_binning[classification_binning<100].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [93]:
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [94]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [95]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values
y

array([1, 1, 0, ..., 0, 1, 0])

In [96]:
X= application_df.drop(columns="IS_SUCCESSFUL").values

In [97]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [98]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [113]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
nn_model = tf.keras.models.Sequential()


# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu",input_dim=number_input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 16)                800
_________________________________________________________________
dense_16 (Dense)             (None, 16)                272
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 17
=================================================================
Total params: 1,089
Trainable params: 1,089
Non-trainable params: 0
_________________________________________________________________

In [114]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [117]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 0s 411us/step - loss: 0.5371 - accuracy: 0.73760s - loss: 0.5371 - accuracy: 0.
Epoch 2/50
804/804 [==============================] - 0s 402us/step - loss: 0.5370 - accuracy: 0.7382
Epoch 3/50
804/804 [==============================] - 0s 399us/step - loss: 0.5373 - accuracy: 0.7385
Epoch 4/50
804/804 [==============================] - 0s 403us/step - loss: 0.5367 - accuracy: 0.7388
Epoch 5/50
804/804 [==============================] - 0s 401us/step - loss: 0.5367 - accuracy: 0.7371
Epoch 6/50
804/804 [==============================] - 0s 399us/step - loss: 0.5370 - accuracy: 0.7369
Epoch 7/50
804/804 [==============================] - 0s 400us/step - loss: 0.5366 - accuracy: 0.7364
Epoch 8/50
804/804 [==============================] - 0s 400us/step - loss: 0.5366 - accuracy: 0.7378
Epoch 9/50
804/804 [==============================] - 0s 399us/step - loss: 0.5366 - accuracy: 0.7372
Epoch 10/50
804/804 [==============================] - 0s 400us/step - loss: 0.5366 - accuracy: 0.7376
Epoch 11/50
804/804 [==============================] - 0s 399us/step - loss: 0.5364 - accuracy: 0.7372
Epoch 12/50
804/804 [==============================] - 0s 401us/step - loss: 0.5367 - accuracy: 0.7372
Epoch 13/50
804/804 [==============================] - 0s 400us/step - loss: 0.5366 - accuracy: 0.7378
Epoch 14/50
804/804 [==============================] - 0s 399us/step - loss: 0.5369 - accuracy: 0.7371
Epoch 15/50
804/804 [==============================] - 0s 401us/step - loss: 0.5364 - accuracy: 0.7385
Epoch 16/50
804/804 [==============================] - 0s 402us/step - loss: 0.5364 - accuracy: 0.7382
Epoch 17/50
804/804 [==============================] - 0s 406us/step - loss: 0.5363 - accuracy: 0.7364
Epoch 18/50
804/804 [==============================] - 0s 408us/step - loss: 0.5367 - accuracy: 0.7363
Epoch 19/50
804/804 [==============================] - 0s 409us/step - loss: 0.5362 - accuracy: 0.7378
Epoch 20/50
804/804 [==============================] - 0s 407us/step - loss: 0.5366 - accuracy: 0.7374
Epoch 21/50
804/804 [==============================] - 0s 409us/step - loss: 0.5362 - accuracy: 0.7383
Epoch 22/50
804/804 [==============================] - 0s 410us/step - loss: 0.5365 - accuracy: 0.7360
Epoch 23/50
804/804 [==============================] - 0s 404us/step - loss: 0.5366 - accuracy: 0.7372
Epoch 24/50
804/804 [==============================] - 0s 401us/step - loss: 0.5365 - accuracy: 0.7384
Epoch 25/50
804/804 [==============================] - 0s 401us/step - loss: 0.5360 - accuracy: 0.7368
Epoch 26/50
804/804 [==============================] - 0s 399us/step - loss: 0.5361 - accuracy: 0.7374
Epoch 27/50
804/804 [==============================] - 0s 405us/step - loss: 0.5363 - accuracy: 0.7375
Epoch 28/50
804/804 [==============================] - 0s 407us/step - loss: 0.5360 - accuracy: 0.7379
Epoch 29/50
804/804 [==============================] - 0s 406us/step - loss: 0.5363 - accuracy: 0.7366
Epoch 30/50
804/804 [==============================] - 0s 402us/step - loss: 0.5362 - accuracy: 0.7381
Epoch 31/50
804/804 [==============================] - 0s 403us/step - loss: 0.5361 - accuracy: 0.7370
Epoch 32/50
804/804 [==============================] - 0s 403us/step - loss: 0.5364 - accuracy: 0.7371
Epoch 33/50
804/804 [==============================] - 0s 404us/step - loss: 0.5361 - accuracy: 0.7377
Epoch 34/50
804/804 [==============================] - 0s 404us/step - loss: 0.5361 - accuracy: 0.7371
Epoch 35/50
804/804 [==============================] - 0s 413us/step - loss: 0.5361 - accuracy: 0.7379
Epoch 36/50
804/804 [==============================] - 0s 413us/step - loss: 0.5359 - accuracy: 0.7374
Epoch 37/50
804/804 [==============================] - 0s 411us/step - loss: 0.5358 - accuracy: 0.7387
Epoch 38/50
804/804 [==============================] - 0s 406us/step - loss: 0.5359 - accuracy: 0.7360
Epoch 39/50
804/804 [==============================] - 0s 407us/step - loss: 0.5361 - accuracy: 0.7390
Epoch 40/50
804/804 [==============================] - 0s 405us/step - loss: 0.5357 - accuracy: 0.7374
Epoch 41/50
804/804 [==============================] - 0s 405us/step - loss: 0.5359 - accuracy: 0.7385
Epoch 42/50
804/804 [==============================] - 0s 413us/step - loss: 0.5360 - accuracy: 0.7384
Epoch 43/50
804/804 [==============================] - 0s 407us/step - loss: 0.5362 - accuracy: 0.7372
Epoch 44/50
804/804 [==============================] - 0s 405us/step - loss: 0.5356 - accuracy: 0.7367
Epoch 45/50
804/804 [==============================] - 0s 405us/step - loss: 0.5361 - accuracy: 0.7367
Epoch 46/50
804/804 [==============================] - 0s 405us/step - loss: 0.5355 - accuracy: 0.7374
Epoch 47/50
804/804 [==============================] - 0s 406us/step - loss: 0.5359 - accuracy: 0.7383
Epoch 48/50
804/804 [==============================] - 0s 414us/step - loss: 0.5358 - accuracy: 0.7377
Epoch 49/50
804/804 [==============================] - 0s 411us/step - loss: 0.5358 - accuracy: 0.7373
Epoch 50/50
804/804 [==============================] - 0s 407us/step - loss: 0.5355 - accuracy: 0.7393

In [118]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5544 - accuracy: 0.7307
Loss: 0.5543628931045532, Accuracy: 0.7307288646697998

In [121]:
# Export our model to HDF5 file
from tensorflow import keras
model=nm.model
model.save("/Users/atikahemani/Desktop/AlphabetSoupCharity_Optimization.h5")

PART 4
Overview: The purpose of this assignment was to predict the applicants who would be funded and their best chance of success in their ventures. 

Data Processing: The targets were the classification and application type variables. The features were all the variables besides EIN and NAME.EIN AND NAME were not target variables or feature based variables.

Compiling, Training, and Evaluating the Model: I did a sequence of 16, 16 and 1 based on a previous class activity. I was very close. I got a accuracy of 73%. I tried altering the sequencing but found myself always getting within the range of 72%-73% accuracy. 

Summary: Overall, it was an interesting expereince using a deep learning model. I think it may be useful to use a random forest model to see which target variables are the most useful and run the models with those variables.